@import url('https://fonts.googleapis.com/css?family=Montserrat:600&display=swap');

* {
    text-decoration: none;
}

}
/*nav*/
header {
    position: fixed;
    top: 0; 
    right: 0;
    left 0;
    background-color: #fff;
    width: 100%;
    height: 100px;
}

header .header-logo {
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: 1000;
    color: #111;
    text-transform: uppercase;
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: 20px 0;
    
}

header nav ul {
    display: block;
    margin: 0 auto;
    width: fit-content;

    
}

header nav ul li {
    display: inline-block;
    float: left;
    list-style: none;
    padding: 0 16px
}

header nav ul li a {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    color: #111;
    text-transform: uppercase;
}

header .header-link {
    display: none;
    
}

@media only screen and (min-width: 1000px) {
    header .header-logo {
    margin: 31px 0;
    text-align: left;
    line-height: 38px;    
    padding: 0 20px 0 40px;
    border-right: 3px solid #111;
    float: left;
  }   
    
    header nav ul {
    margin: 20px 0px 0px 20px;
    float: left;    
}
    main {
        padding-top: 100px;
    }


    header nav ul li a {
    line-height: 60px;    
}
    header .header-link {
    display: block;
    font-family: "Montserrat", sans-serif;
    font-weight: 900;    
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
    line-height: 38px;
    background-color: rgba(119,90,149,1);    
    border: none;
    border-radius: 50px;  
    cursor: pointer;
    transition: all 0.3s ease 0s;    
    float: right;   
    margin-right: 40px;
    margin-top: 30px;    
    padding: 0 20px;    
}

    header .header-link:hover {
        background-color: rgba(119,90,149,0.8);
    }
}

/*index*/ 

.index-banner {
    width: 100%;
    height: calc(100vh - 100px);
    background-image: url('image/praag.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: table;
}

.vertical-center {
    display: table-cell;
    vertical-align: middle;

}

.index-banner h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 60px;
    font-weight: 900;
    line-height: 70px;
    color: #fff;
    text-align: center;
    text-shadow: 2px 2px 8px #111;
}

.index-banner h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 28px;
    font-weight: 100;
    font-style: italic;
    line-height: 40px;
    color: #fff;
    text-align: center;
    text-shadow: 2px 2px 8px #111;
}

.index-links div {
    margin: 16px 16px 0;
    width: calc(100% - 32px);
    height: 100px;
    background-color: #f2f2f2;
    
}

.index-links div h3 {
    font-family: "Montserrat", sans-serif;
    font-size: 28px;
    font-weight: 600;
    line-height: 100px;
    color: #111;
    text-align: center;
    text-transform: uppercase;
    
}

@media only screen and (min-width: 1000px) {
    .wrapper {
        width: 1000px;
        margin: 0 auto;
    }
    
    .wrapper2 {
        width: 1000px;
        margin: 0 auto;
    }
    
    .index-banner {
    width: 100%;
    height: 450px;
    
}
    .index-banner h1 {
    display: block;
    width: 560px;
    margin: 0 auto;    
}
    
    .index-links  {
    overflow: hidden;    
}
    .index-links div {
    margin: 10px 5px 0;
    height: 240px;
    background-color: #f2f2f2;
    float: left;    
}
    .index-boxlink-rectangle {
    width: calc(25% - 20px) !important;  
    }
    
    .index-boxlink-square {
    width: calc(50% - 20px) !important;  
    }
    
    .index-links div h3 {
    line-height: 180px;   
}
    .box {
        
    }
}

/*about me*/

.about{
  width: 450px;
  background: none;
  padding: 40px;    
  text-align: center;
  margin: auto;
  margin-top: 0;
  color: #111;
  font-family: "Montserrat", sans-serif;
}
.about-img{
  border-radius: 50%;
  border: #775a95;   
  width: 200px;
  height: 200px;
}
.about h1{
  font-size: 20px;
  letter-spacing: 4px;
  font-weight: 600;
}
.about h5{
  font-size: 10px;
  letter-spacing: 3px;
  font-weight: 700;
}
.about p{
  font-size: 12px;    
  text-align: justify;
}

.instagram-personal {
    margin-right: 3px;
}
.instagram-personal p {  
  font-size: 10px;
  letter-spacing: 3px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;    
}
.instagram-personal img {
  width: 40px;
  margin-bottom: 10px;
  object-position: center;
}

/*youtube video*/ 
.youtube-video {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
}
.youtube-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.boxes div {
   margin: 16px 16px 0;
   width: calc(100% - 32px);
   height: 100px;
   background-color: #f2f2f2;  
}

.boxes div h3 {
    font-family: "Montserrat", sans-serif;
    font-size: 28px;
    font-weight: 600;
    line-height: 100px;
    color: #111;
    text-align: center;
    text-transform: uppercase;
} 

@media only screen and (min-width: 1000px) {
    
.wrappers  {
   width: 1000px;
   margin:  0 auto;
}    

.boxes div {
   margin: 10px 10px 0;
   height: 100px;
   background-color: #f2f2f2;  
}

.boxes div h3 {
    font-family: "Montserrat", sans-serif;
    font-size: 28px;
    font-weight: 600;
    line-height: 100px;
    color: #111;
    text-align: center;
    text-transform: uppercase;
} 
    
.box {
    width: calc(25% - 60px) !important;    
    }    
}

/*portfolio cats*/

.intro-text h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
    color: #111;
    text-align: center;
}

.intro-text h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 100;
    line-height: 15px;
    color: #111;
    text-align: center;
}

/*portfolio themas*/
.box-area {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.single-box {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: auto;
    border-radius: 4px;
    background-color:#fff;
    text-align: center;
    margin: 20px;
    padding: 20px;
    transition: .3s;
}

.img-area {
    display: flex;
    flex-flow: row wrap; 
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    border: none;
    border-radius: 50%;
    margin-bottom: 10px;
    padding: 20px;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    
}

.single-box:nth-child(1) .img-area {
    background-image: url(image/logo.png)
}
.single-box:nth-child(2) .img-area {
    background-image: url(image/logo.png)
}
.single-box:nth-child(3) .img-area {
    background-image: url(image/logo.png)
}

.intro-text h1 {
    padding-top: 0;
    margin-bottom: 40px;
    font-size: 12px;   
    font-weight: 200;    
    text-align: center;
}

.header-text {
    font-size: 24px;
    font-weight: 500;
    line-height: 48px;
}

.img-text {
    font-family: "Montserrat", sans-serif; 
    padding-top 10px;
    font-size: 16px;
    text-transform: none;
}
.img-text p {
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
}

.single-box:hover {
    background: #775a95;
    color: #fff;
}

.click-link p {
    font-size: 15px;
    font-weight: 900;
}


/*gallery voor nature scenery*/

.nature-gallery {
    font-family: "Montserrat", sans-serif; 
    font-size: 28px;
    font-weight: 600;
    color: #111;
    text-transform: uppercase;
    text-align: center;
    padding: 20px;
}

.gallery-links {
    display: flex;
    flex-flow: row wrap; 
    justify-content: center;
}

.gallery-img {
    flex-basis: 300px;
    margin: 10px;  
}

.gallery-img img {
    width: 100%  
}

@media only screen and (min-width: 762pxpx) {
    .nature-gallery {
        font-size: 28px;
    }
    
    .gallery-img {
    flex-basis: 90%; 
}
} 

/*gallery v2*/
.theme-arch h2 {
	font-family: "Montserrat", sans-serif;
    text-align: center;
    padding-top 18x;
    font-size: 20px;
    text-transform: uppercase;
}

.architecture-gallery img {
	float: left;
	width: 30%;
	margin: 1.66%;
}
.theme-scenery h2 {
	font-family: "Montserrat", sans-serif;
    text-align: center;
    padding-top 18x;
    font-size: 20px;
    text-transform: uppercase;
}
.scenery-gallery img {
	float: left;
	width: 30%;
	margin: 1.66%;
}
.theme-travel h2 {
	font-family: "Montserrat", sans-serif;
    text-align: center;
    padding-top 18x;
    font-size: 20px;
    text-transform: uppercase;
}
.travel-gallery img {
	float: left;
	width: 30%;
	margin: 1.66%;
}

/*contact us*
zit in aparte css document/

/*FOOTER*/
footer {
    width: calc(100% - 80px);
    padding: 40px 40px;
    margin-top: 20px;
    background-color: #775a95;  
    overflow: hidden;
}

footer ul {
    width: fit-content;
    float: left;
    padding-left: 20px;
}

footer ul li {
    display: block;
    list-style: none;
}

footer ul li a {
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    color: #fff;
    line-height: 40px;
}

.footer-shortcuts {
    display: none;
}

.footer-socialmedia {
    width: 50px;
    float: right;
}

.footer-socialmedia img {
    width: 100%;
    margin-bottom: 10px;
}

/*gebruikte bronnnen: *
https://www.youtube.com/watch?v=0e02dl66PYo&t=153s
https://www.youtube.com/watch?v=kbLfWKGVsMQ
https://www.youtube.com/watch?v=zkyIVFoLxgY&t=20s
https://www.youtube.com/watch?v=Z2quX2qWmEA
https://www.youtube.com/watch?v=BHTHmAQTpVo
https://www.youtube.com/watch?v=IKu0zh2yrBI&t=182s
https://www.youtube.com/watch?v=PwWHL3RyQgk&t=734s
https://www.youtube.com/watch?v=opbtRRSHGnk
https://www.youtube.com/watch?v=4XmhtbcMWEY/



